<div class="container-fluid" *ngIf="forecast">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{ forecast.name }}</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let weather of forecast.list">
        {{ weather.date | date: 'EEEE, MMMM d' }}: {{ weather.main }} - Min:
        {{ weather.min }} - Max: {{ weather.max }}

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/{{
            weather.icon
          }}.png"
        />
      </li>
    </ul>
  </div>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn" routerLink="/">
    &lt; Back to main page
  </button>
</div>
